body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 231, 201);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quiz-container{
    border: 2px solid black;
    padding: 2rem;
    text-align: center;
    width: 400px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 12px rgba(0,0,0.495);
}
h1{
    margin-bottom: 2rem;
}
ul{
    /* margin:10px ; */
    padding: 0;
    list-style: none;
}
li{
    background-color: rgb(255, 233, 126);
    margin: 10px auto;
    border: 2px solid black;
    height: 2vh;
    padding:15px 90px;
    /* width: 200px; */
    text-align: center;
    font-size: 20px;
}
button{
    background-color: blueviolet;
    border: 3px solid rgb(60, 0, 60);
    font-size: 30px;
    padding: 1vh 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden{
    display: none;
}